/dist
/node_modules
/types
.buildignore
.eslintignore
.eslintrc.json
build.mjs
package-lock.json
tsconfig.json
replacer.coffee
acidphantasm-scorpion/aprilfoolsimage.xcf
acidphantasm-scorpion/node_modules
acidphantasm-scorpion/types
acidphantasm-scorpion/dist